.p-menubar{
    padding: 0.25rem 0.5rem;
}

.card{
    background: var(--card-background);
    border: var(--card-border);
    border-radius: 10px;
    margin-bottom: none;
}

.main-nav__title{
    padding-right: 15px;
}