.wi__header-toolbar{
    display: flex;
    justify-content: space-between;
}

.wi__header-toolbar--right, .wi__header-toolbar--left{
    display: flex;
    gap: 10px;
}


.p-tag-label{
    font-size: 12px;
}